<a href="https://colab.research.google.com/github/shiva-nafari/ce153-fundamentals-of-programming-in-python/blob/main/notebooks/session_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Fundamentals of Programming in Python
##Session 8

# Sets in Python

A **set** is an unordered collection of unique items. In Python, sets are useful when you need to store multiple items without duplicates, and they support a variety of mathematical operations like union, intersection, difference, and symmetric difference.

## Features of Sets:
1. **Unordered** – Sets do not maintain any specific order of elements.
2. **Unique Elements** – Sets cannot contain duplicate values. If you try to add a duplicate element, it will be ignored.
3. **Mutable** – Sets are **mutable**, meaning you can add or remove elements after the set is created.
4. **Supports Membership Testing** – You can check if an element is in a set using the `in` keyword.
5. **Supports Set Operations** – Sets support mathematical operations like union, intersection, and difference.

## Creating a Set:
A set can be created by placing elements inside curly braces `{}` or using the `set()` constructor.

### Example:
```python
my_set = {1, 2, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

In [ ]:
#set
#unordered
#membership
#mutable
#unique
st = {20, 20, 20, 13, 'salam', 'salam', 23.4, True}
print(st)
print(len(st))

{'salam', True, 20, 23.4, 13}
5

In [ ]:
print(type(st))
print(20 in st)
print('hello' not in st)

<class 'set'>
True
True

# Casting and the `bool` Type in Python

## Casting in Python
**Casting** refers to the conversion of one data type into another. In Python, you can cast values to different types using built-in functions like `int()`, `float()`, `str()`, and `bool()`.

### Common Casting Functions:
1. **`int()`** – Converts a value into an integer.
   - Example:
     ```python
     x = 5.7
     y = int(x)
     print(y)  # Output: 5
     ```

2. **`float()`** – Converts a value into a floating-point number.
   - Example:
     ```python
     x = 5
     y = float(x)
     print(y)  # Output: 5.0
     ```

3. **`str()`** – Converts a value into a string.
   - Example:
     ```python
     x = 123
     y = str(x)
     print(y)  # Output: '123'
     ```

4. **`bool()`** – Converts a value into a Boolean value (`True` or `False`).

### Example of Casting:
```python
x = 10
y = float(x)  # Converts int to float
z = str(x)    # Converts int to string
print(type(y))  # Output: <class 'float'>
print(type(z))  # Output: <class 'str'>

In [ ]:
#casting
print(bool(6))
print(bool(0))
print(bool(23.7))
print(bool(-2))
print(bool(''))

True
False
True
True
False

# Set Methods in Python

A **set** in Python provides several built-in methods for performing operations such as adding, removing, and combining elements.

## `add()`
- **Description:** Adds a single element to the set.
- **Example:**
  ```python
  s = {1, 2, 3}
  s.add(4)
  print(s)  # Output: {1, 2, 3, 4}

##`update()`

The `update()` method is used to add multiple elements from an iterable (such as a list, tuple, or another set) to an existing set. This method modifies the set in place, ensuring that only unique elements are retained.

## Syntax:
```python
set.update(iterable)

In [ ]:
st.add('hediyeh')
#in set, using 'add' instead of append
print(st)
st.update([1, 2, 3, 'sara','1'])
print(st)

{True, 2, 3, 'sara', 13, 'salam', 20, 'hediyeh', 23.4}
{True, 2, 3, 'sara', 13, 'salam', 20, 'hediyeh', 23.4, '1'}

## `pop()`

The `pop()` method in Python removes and returns an **arbitrary element** from a set. Because sets are unordered, you cannot predict which element will be removed. If the set is empty, calling `pop()` will raise a `KeyError`.

## Syntax:
```python
set.pop()

In [ ]:
z = st.pop()
print(z)
print(st)

True
{2, 3, 'sara', 13, 'salam', 20, 'hediyeh', 23.4, '1'}

##`remove()`

The `remove()` method is used to remove a specified element from a set. If the element is not found, it raises a `KeyError`.

## Syntax:
```python
set.remove(element)

In [ ]:
st.remove(13)
print(st)

{2, 3, 'sara', 'salam', 20, 'hediyeh', 23.4, '1'}

# `union()`

The `union()` method returns a new set that contains all the unique elements from the original set and all provided sets or iterables. It does not modify any of the original sets.

## Syntax:
```python
set.union(*others)

In [ ]:
#methods
#union(), intersection(), difference(), issubset(), issuperset()
s1 = {1, 2, 5, '3', '4'}
s2 = {True, '4', 5}
s3 = s2.union(s1)
print(s3)

{True, '4', 2, 5, '3'}

## `intersection()`

The `intersection()` method returns a new set containing only the elements that are common to the original set and all provided sets or iterables. It does not modify any of the original sets.

## Syntax:
```python
set.intersection(*others)

In [ ]:
s4 = s1.intersection(s2)
print(s4)

{True, '4', 5}

## `issubset()`

The `issubset()` method checks whether every element of one set is contained in another set. It returns `True` if the set is a subset of the given set, and `False` otherwise.

## Syntax:
```python
set.issubset(other)

In [ ]:
s5 = s1.issubset(s2)
s5

False

## `issuperset()`

The `issuperset()` method checks whether a set contains all elements of another set. It returns `True` if the set is a superset of the given set, meaning it has every element of that set, and `False` otherwise.

## Syntax:
```python
set.issuperset(other)

In [ ]:
m = s1.issuperset(s2)
print(m)

True

In [ ]:
st1 = set([1,1,1,2,3,4,3,2,5,6,6,6])
st2 = set()
tpl = tuple('python')
st4 = set('pythonn')
st3 = {1,2,3,4}
#st1.update(st2)
print(st1)
#print(st4)
#print(tpl)
#print(type(st2))
#print(len(st2))
print(tpl, type(tpl))
print(st4, type(st4))
print(type(st3))

{1, 2, 3, 4, 5, 6}
('p', 'y', 't', 'h', 'o', 'n') <class 'tuple'>
{'t', 'p', 'y', 'n', 'o', 'h'} <class 'set'>
<class 'set'>

In [ ]:
numbers = (1, 2, 3, 4, 5, 5)
len(numbers)

6

In [ ]:
print(numbers[2:5])
numbers[0] = 'salam'
numbers

(3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuples are iterable
vowels = ('ALU','el','il','ol','ul')
for vowel in vowels:
    print(vowel.capitalize(), end = ' ')

Alu El Il Ol Ul

In [ ]:
#list, dictionary (mutable, ordered)
#string, tuple (immutable, ordered)
#set(unordered, mutable)
dct = {}
dct1 = dict()
type(dct)

dict

In [ ]:
#dictionary --> {'key':'value'}
#key are unique !
dc = {'one': 1, 'two': 2, 'one':'yek'}
dct2 = {'apple':'sib', 'orange':'porteghal', 'watermelon':'hendooneh', 'orange':'narenji'}
print(dc)
print(len(dc))
type(dc)
print(dct2)
print(len(dct2))

{'one': 'yek', 'two': 2}
2
{'apple': 'sib', 'orange': 'narenji', 'watermelon': 'hendooneh'}
3

In [ ]:
#access to values
print(dct2['apple'])

sib

In [ ]:
dct2['apple'] = 'ghermez'
print(dct2)

{'apple': 'ghermez', 'orange': 'narenji', 'watermelon': 'hendooneh'}

In [ ]:
dct2.pop('orange')
print(dct2)

{'apple': 'ghermez', 'watermelon': 'hendooneh'}

In [ ]:
x = dct2['cherry']
print(x)

KeyError: 'cherry'

In [ ]:
print(dct2.get('orange'))
print(dct2.get('tomato','nadarim!!'))

None
nadarim!!

In [ ]:
dct2['melon'] = 'talebi'
#print('melon' not in dct2)
#dct2['tomato'] = 'ghermez'
#dct2

False

{'apple': 'ghermez',
 'watermelon': 'hendooneh',
 'melon': 'talebi',
 'tomato': 'ghermez'}

In [ ]:
dct2.update({'olive':'zeytoon','five':5,'two':2.0})
print(dct2)

{'apple': 'ghermez', 'watermelon': 'hendooneh', 'melon': 'talebi', 'tomato': 'ghermez', 'olive': 'zeytoon', 'five': 5, 'two': 2.0}