<a href="https://colab.research.google.com/github/shiva-nafari/ce153-fundamentals-of-programming-in-python/blob/main/notebooks/session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals of Programming in Python
## Session 3

There’s a syntax error in your code due to the way the single and double quotes are mixed. In Python, string literals should be enclosed in either single (') or double (") quotes, but you can't mix them like in your second string where you have an apostrophe inside and outside the string.

In [ ]:
str_one = "we're in the class."
str_two = ' I said:'open the door.''
print(str_two)

SyntaxError: invalid syntax (2394526447.py, line 2)

Here’s the corrected version of the code:

In [ ]:
str_two = 'I said, \'open the door.\''

In [ ]:
print(str_two)

I said, 'open the door.'

The below block of code demonstrates how to work with variables and perform basic arithmetic operations in Python, while also formatting the output string using an f-string.

In [ ]:
variable_one = 3
variable_two = 5
print(f'{variable_one} times {variable_two} is {variable_one * variable_two}.')

3 times 5 is 15.

How to format a floating-point number using an f-string in Python:

**Variable Assignment**:

n = 15.6789: The variable n is assigned a floating-point value of 15.6789.

**Formatted String Output**:

print(f'the value of {n:.1f} .'):

The f-string is used to insert the value of n inside the string.

{n:.1f}: This specifies that n should be formatted to one decimal place.

.1f → Means "one digit after the decimal point" (floating-point precision).

In [ ]:
n = 15.6789
print(f'the value of {n:.1f} .')

the value of 15.7 .

In [ ]:
print(f'the value of {n:.2f} .')

the value of 15.68 .

This code formats the integer m with a thousands separator using :,

 inside an f-string.
The output will be:

In [ ]:
m = 123456789
print(f'the value of {m:,}')

the value of 123,456,789

This code demonstrates the round() function in Python, which rounds a floating-point number to the nearest integer.

Python follows "bankers' rounding", where .5 values round to the nearest even integer.

In [ ]:
#math function
print(round(2.3))
print(round(2.7))
print(round(3.5))
print(round(2.5))

2
3
4
2

This code swaps the values of x and y without using a temporary variable.

In [ ]:
x = 3
y = 7
x,y = y,x
print(x,y,sep='\n')

7
3

In [ ]:
x = 2
y = 3
z = 6
o = 7
x, y, z = 2, 3, 6
x, y, z, o= o, z, y, x
print(x, y, z, o)

7 6 3 2