<a href="https://colab.research.google.com/github/shiva-nafari/ce153-fundamentals-of-programming-in-python/blob/main/notebooks/session_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Fundamentals of Programming in Python
##Session 7

# Lists in Python  

A **list** is a collection of items that is **ordered, mutable, and allows duplicate values**.  
Lists are one of the most commonly used data structures in Python.

## Features of Lists  

- **Ordered** – Items in a list maintain their order.  
- **Mutable** – Lists can be modified (add, remove, or change elements).  
- **Allows Duplicates** – Lists can store multiple occurrences of the same value.  
- **Supports Multiple Data Types** – A list can contain integers, floats, strings, or even other lists.  
- **Indexing & Slicing** – Elements can be accessed using indices (`list[index]`) and slices (`list[start:end]`).

In [ ]:
#list
#indexing
#zero-indexing
#mutable
lst = [10,'12', True, 12, 13.5, 10]
lst[1] = 'sepehr'
lst1 = [5, 6, 7, 8]
print(type(lst))
print(len(lst))
print(lst)

<class 'list'>
6
[10, 'sepehr', True, 12, 13.5, 10]

# Lists in Python  

A **list** is a collection of items that is **ordered, mutable, and allows duplicate values**.  
Lists are one of the most commonly used data structures in Python.

## Features of Lists  

### 1. **Ordered**  
- Lists maintain the order of elements as they are inserted.  
- Elements can be accessed using an **index** (`list[index]`).  

Example:  
```python
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])  # Output: banana

In [ ]:
print(lst[0])
print(lst[-1])
print(lst[-2])

10
10
13.5

In [ ]:
print(lst[:-4:-1])

[10, 13.5, 12]

In [ ]:
print(lst[:4:2])

[10, True]

In [ ]:
print(lst + lst1)

[10, 'sepehr', True, 12, 13.5, 10, 5, 6, 7, 8]

In [ ]:
print(lst * 2)

[10, 'sepehr', True, 12, 13.5, 10, 10, 'sepehr', True, 12, 13.5, 10]

In [ ]:
#loop
#while, for
students = ['zahra', 'fatemeh', 'sahar', 'sara', 'reza']
index = 0
while index < len(students):
    print(students[index], end=' ')
    index += 1

fatemeh sahar sara reza

In [ ]:
for i in range(len(students)):
    print(students[i])

zahra
fatemeh
sahar
sara
reza

In [ ]:
for i in students:
    print(i)

zahra
fatemeh
sahar
sara
reza

In [ ]:
for x in range(11):
    print(x, end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
for x in range(4):
    for y in range(3):
            print(x,y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [ ]:
#nesting list
lst3 = [1,'12',24.5,True,[1,2,3]]
print(len(lst3))
two_by_two = [[1,2],[3,4],[5,6]]
print(len(two_by_two))

5
3

In [ ]:
print(two_by_two[1])
print(two_by_two[0][1])
print(two_by_two[2][0])

[3, 4]
2
5

In [ ]:
#casting
print(list('python is amazing'))
list((1,2,4))
empty_list = list()
empty_lst = []
print(type(empty_lst))
print(len(empty_list))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g']
<class 'list'>
0

In [ ]:
#slicing in lists
#mutable
numbers = [1,2,3,4]
numbers[1:3] = ['sara', True]
numbers[2] = 'salam'
print(numbers)

[1, 'sara', 'salam', 4]

In [ ]:
print('sara' in numbers)
print('bob' not in numbers)

True
True

In [ ]:
#continue
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j,'=',i*j)

2 * 4 = 8
2 * 6 = 12
4 * 2 = 8
4 * 6 = 24
6 * 2 = 12
6 * 4 = 24

In [ ]:
#break
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

| Method         | Description |
|---------------|-------------|
| `append(x)`   | Adds an element `x` to the end of the list. |
| `extend(iterable)` | Adds all elements from an iterable (e.g., another list). |
| `insert(index, x)` | Inserts `x` at the specified `index`. |
| `remove(x)`   | Removes the first occurrence of `x`. |
| `pop([index])` | Removes and returns the item at `index`. If no index is provided, removes the last item. |
| `index(x)`    | Returns the index of the first occurrence of `x`. |
| `count(x)`    | Counts how many times `x` appears in the list. |
| `sort()`      | Sorts the list in ascending order (modifies in-place). |
| `reverse()`   | Reverses the list in-place. |
| `copy()`      | Returns a shallow copy of the list. |
| `clear()`     | Removes all elements from the list. |

In [ ]:
#list methods
#indexing
#ordered
#mutable
lst= ['red', 'pink', 'green', 'purple']
lst.append('orange')
print(lst)

['red', 'pink', 'green', 'purple', 'orange']

In [ ]:
lst.insert(1,'black')
lst.insert(4,'white')
lst

['red', 'black', 'pink', 'green', 'white', 'purple', 'orange']

In [ ]:
z = lst.pop()
print(z)
print(lst)

orange
['red', 'black', 'pink', 'green', 'white', 'purple']

In [ ]:
lst.append('yellow')
lst

['red', 'black', 'pink', 'green', 'white', 'purple', 'yellow']

In [ ]:
t1 = ['a','e',['o','u','j']]
t2 = ['i','u','y','p','f']
t1.extend(t2)
print(t1)

['a', 'e', ['o', 'u', 'j'], 'i', 'u', 'y', 'p', 'f']

In [ ]:
z3 = t1.pop(1)
print(z3)
print(t1)

e
['a', 'o', 'i', 'u', 'y', 'p', 'f']

In [ ]:
del t1[2]
print(t1)

['a', 'e', 'i', 'u', 'y', 'f']

In [ ]:
t1.remove('p')
print(t1)

['a', 'e', ['o', 'u'], 'i', 'u', 'y', 'f']

In [ ]:
nums = [8,1,2,3,4]
str = ['apple', 'orange', 'Lemon', 'cherry']
print(sum(nums))
print(min(nums))
print(max(nums))
#print(sorted(nums))
print(sorted(str))
print(sorted(str,reverse=True))
#print(sorted(nums,reverse=True))

18
1
8
['Lemon', 'apple', 'cherry', 'orange']
['orange', 'cherry', 'apple', 'Lemon']

# Tuples in Python

A **tuple** is an ordered, immutable collection of items in Python. It is similar to a list, but unlike lists, tuples cannot be modified after they are created. Tuples are one of the fundamental data structures in Python.

## Features of Tuples

### 1. **Ordered**
- Tuples maintain the order of elements as they are inserted.  
- Elements can be accessed using an **index** (`tuple[index]`).

Example:  
```python
colors = ('red', 'green', 'blue')
print(colors[1])  # Output: green

In [ ]:
#tuple
#ordered
#indexing
#immutable
empty_tuple = ()
empty_tuple1 = tuple()
print(type(empty_tuple1))
tpl = (3, 5, 6, 'salam', 'salam', 8)
print(type(tpl))
print(len(tpl))
print(tpl[2::2])

<class 'tuple'>
<class 'tuple'>
6
(6, 'salam')

# Tuple with a Single Element

In Python, a tuple with a single element can be created by placing the element inside parentheses. However, when creating a tuple with one element, a **comma** is required to distinguish it from a regular variable enclosed in parentheses.

## Code Example

```python
x = ('salam')  # This is not a tuple, it is just a string
x1 = ('salam',)  # This is a tuple with one element
print(type(x))  # Output: <class 'str'>
print(type(x1))  # Output: <class 'tuple'>

In [ ]:
x = ('salam')
x1 = ('salam',)
print(type(x))
print(type(x1))

<class 'str'>
<class 'tuple'>

In [ ]:
location = (13.14, 103.32)
type(location)
print('latitude',location[0])
print('longitude',location[1])

latitude 13.14
longitude 103.32

In [ ]:
length, width, height = 12, 13, 15
print('the dimensions are {}*{}*{}'.format(length,width,height))

the dimensions are 12*13*15

# Tuple Methods in Python

Tuples in Python are **immutable** sequences, and thus have fewer methods compared to lists. However, there are two key methods that can be used with tuples: `count()` and `index()`.

#### 1. **indexing**

In Python, **indexing** is used to access individual elements of a tuple. Tuples are ordered, so each element has a position (or index), starting from **0** for the first element.

###### Syntax:

tuple[index]


-----------------------------

#### 2.**count()**

The `count()` method is used to count how many times a specific element appears in the tuple.

### Syntax:
```python
tuple[index]
tuple.count(value)

In [ ]:
tpl = (1,2,3,4,'hello','salam',12.3,4,4,'hello',5,4)
print(tpl.index(4))
print(tpl.index('hello',5,10))

3
9

In [ ]:
tpl.count(4)

4

In [ ]:
tpl2 = ('python', 1, 2, 3, 4, 'python')
tp = tpl2.count('python')
print(tp)

2

In [ ]:
vowels = ('a','e','i','o','u')
for i in vowels:
    print(i.upper(), end=' ')

A E I O U

In [ ]:
print('o'not in vowels)
print('f' not in vowels)

False
True